.comment1Child {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50px;
  background-color: #212a3e;
}
.ellipseIcon {
  height: 96.4px;
  width: 98px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.edwardNathanS,
.universitasMultimediaNusanta {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.edwardNathanSParent,
.ellipseParent,
.frameDiv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.edwardNathanSParent {
  flex-direction: column;
  gap: 8.8px;
}
.ellipseParent,
.frameDiv {
  max-width: 100%;
}
.frameDiv {
  flex-direction: column;
  padding: 3px 0 0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.ellipseParent {
  flex-direction: row;
  gap: 27px;
  z-index: 1;
}
.loremIpsumDolor1 {
  height: 169.1px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.comment1,
.disconnector,
.loremIpsumDolorSitAmetCoWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.loremIpsumDolorSitAmetCoWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 6px 0 9px;
  font-size: 25px;
}
.comment1,
.disconnector {
  flex-direction: column;
}
.comment1 {
  align-self: stretch;
  padding: 25.5px 26px 33.4px;
  position: relative;
  gap: 24.6px;
}
.disconnector {
  width: 577px;
  padding: 2px 0 0;
  font-size: 20px;
}
@media screen and (max-width: 925px) {
  .edwardNathanS {
    font-size: 32px;
  }
  .ellipseParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .edwardNathanS {
    font-size: 24px;
  }
  .universitasMultimediaNusanta {
    font-size: 16px;
  }
  .loremIpsumDolor1 {
    font-size: 20px;
  }
}
