.frameChild {
  height: 250px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0px;
  bottom: -14px;
  left: 0px;
  border-radius: 0px 0px 50px 50px;
  background-color: #212a3e;
}
.login {
  width: 74px;
  position: relative;
  display: none;
  z-index: 1;
}
.educatronHighResolutionLogoIcon {
  height: 147px;
  width: 235px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.menuIcon {
  width: 90px;
  height: 90px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.menuWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 0px 28px;
}
.educatronHighResolutionLogoParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
}
.frameWrapper {
  width: 469px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.welcome {
  margin: 0;
  width: 214px;
  position: relative;
  font-size: inherit;
  font-weight: 300;
  font-family: inherit;
  display: inline-block;
}
.welcomeWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 20px;
}
.edwardNathanS {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  white-space: nowrap;
}
.greetings {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
  z-index: 1;
}
.greetingsWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 0px 14px;
  box-sizing: border-box;
  max-width: 100%;
}
.profilePicIcon {
  height: 149px;
  width: 149px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.frameParent {
  width: 730px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 89px;
  max-width: 100%;
  text-align: center;
  font-size: 47px;
  color: #fff;
  font-family: Inter;
}
.rectangleParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 50px 70px 37px 72px;
  box-sizing: border-box;
  position: relative;
  gap: 20px;
  max-width: 100%;
}
.headerLoggedIn1 {
  flex: 1;
  border-radius: 0px 0px 50px 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 14px;
  box-sizing: border-box;
  max-width: 100%;
}
.headerLoggedIn {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: 30px;
  color: #f1f6f9;
  font-family: Fredoka;
}

@media screen and (max-width: 1275px) {
  .rectangleParent {
    padding-left: 36px;
    padding-right: 35px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .frameParent {
    gap: 89px 44px;
  }
}
@media screen and (max-width: 450px) {
  .frameParent {
    gap: 89px 22px;
  }
}
