.frameChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 50px 50px;
  background-color: #212a3e;
  width: 1920px;
  height: 250px;
}
.login {
  position: absolute;
  top: 82px;
  left: 1652px;
  display: none;
}
.profilePicIcon {
  position: absolute;
  top: 50px;
  left: 1701px;
  width: 149px;
  height: 149px;
  object-fit: cover;
}
.edwardNathanS {
  position: absolute;
  top: 63px;
  left: 0;
  display: inline-block;
  width: 492px;
}
.welcome {
  position: absolute;
  top: 0;
  left: 139px;
  font-weight: 300;
}
.greetings {
  position: absolute;
  top: 65px;
  left: 1120px;
  width: 492px;
  height: 120px;
  text-align: center;
  font-size: 47px;
  color: #fff;
  font-family: Inter;
}
.educatronHighResolutionLogoIcon,
.menuIcon {
  position: absolute;
  top: 80px;
  left: 451px;
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.educatronHighResolutionLogoIcon {
  top: 51px;
  left: 72px;
  width: 235px;
  height: 147px;
}
.headerLoggedIn1,
.rectangleParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 236px;
}
.headerLoggedIn1 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: 0 0 50px 50px;
}
.headerLoggedIn {
  width: 1920px;
  max-width: 100%;
  height: 250px;
  text-align: left;
  font-size: 30px;
  color: #f1f6f9;
  font-family: Fredoka;
}
