.frameChild {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 0px 0px 50px 50px;
  background-color: #212a3e;
  width: 1920px;
  height: 200px;
}
.classes {
  position: absolute;
  height: 97.7%;
  width: 17.73%;
  top: 2.3%;
  left: 0%;
  display: inline-block;
}
.tutors {
  position: absolute;
  height: 97.7%;
  width: 14.38%;
  top: 2.3%;
  left: 27.16%;
  display: inline-block;
}
.aboutUs {
  position: absolute;
  height: 97.7%;
  width: 21.09%;
  top: 2.3%;
  left: 54.31%;
  display: inline-block;
}
.login {
  position: absolute;
  top: 0px;
  left: 552px;
  font-family: Fredoka;
}
.navigation {
  position: absolute;
  top: 78px;
  left: 647px;
  width: 626px;
  height: 43.5px;
}
.rectangleParent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 236px;
}
.educatronHighResolutionLogoIcon {
  position: absolute;
  top: 26px;
  left: 72px;
  width: 235px;
  height: 147px;
  object-fit: cover;
}
.header {
  width: 1920px;
  border-radius: 0px 0px 50px 50px;
  max-width: 100%;
  height: 200px;
  text-align: left;
  font-size: 30px;
  color: #f1f6f9;
  font-family: Inter;
}
