.frameChild {
  background-color: #f1f6f9;
  z-index: 1;
}
.frameChild,
.registerInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.frameInner,
.frameItem,
.rectangleIcon {
  position: absolute;
  top: 686px;
  left: 1153px;
  border-radius: 50%;
  width: 475px;
  height: 475px;
  object-fit: contain;
  z-index: 2;
}
.frameInner,
.rectangleIcon {
  top: 413px;
  left: 0;
  width: 325px;
  height: 325px;
}
.rectangleIcon {
  top: -104px;
  left: 115px;
  border-radius: 494px;
  width: 1302px;
  height: 1288px;
  object-fit: cover;
  z-index: 3;
}
.ellipseParent {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 194px;
  width: 1628px;
}
.alreadyHaveAn {
  align-self: stretch;
  position: relative;
  text-decoration: underline;
}
.createAnAccount1 {
  margin: 0;
  width: 473px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.facebookLogin {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 13px 0 7px;
}
.passwordField {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 73px;
  background-color: #d9d9d9;
  width: 100%;
  height: 100%;
}
.image1Icon {
  position: absolute;
  top: 13px;
  left: 13px;
  width: 23px;
  height: 23px;
  object-fit: cover;
  z-index: 1;
}
.google {
  align-self: stretch;
  height: 47px;
  position: relative;
}
.googleWrapper {
  width: 113px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7px 0 0;
  box-sizing: border-box;
}
.passwordIcons {
  position: absolute;
  top: 7px;
  left: 13px;
  border-radius: 73px;
  background-color: #d9d9d9;
  width: 113px;
  height: 47px;
}
.image2Icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 84px;
  object-fit: cover;
  z-index: 1;
}
.microsoft {
  align-self: stretch;
  height: 63px;
  position: relative;
}
.emailIcon {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 12px 0 0;
  box-sizing: border-box;
  min-width: 90px;
}
.facebookChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 73px;
  background-color: #d9d9d9;
  width: 100%;
  height: 100%;
}
.image3Icon {
  position: absolute;
  top: 3px;
  left: 9px;
  width: 42px;
  height: 42px;
  object-fit: cover;
  z-index: 1;
}
.facebook {
  align-self: stretch;
  height: 47px;
  position: relative;
}
.facebookWrapper {
  width: 126px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7px 13px 0 0;
  box-sizing: border-box;
}
.appleChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 73px;
  background-color: #d9d9d9;
  width: 100%;
  height: 100%;
}
.image4Icon {
  position: absolute;
  top: 8px;
  left: 16px;
  width: 31px;
  height: 31px;
  object-fit: cover;
  z-index: 1;
}
.apple {
  align-self: stretch;
  height: 47px;
  position: relative;
}
.appleWrapper,
.rdPartyLogin {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.appleWrapper {
  width: 113px;
  flex-direction: column;
  padding: 7px 0 0;
  box-sizing: border-box;
}
.rdPartyLogin {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1px;
}
.googleLogin,
.socialMediaLogins {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.googleLogin {
  width: 493px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 27px;
}
.socialMediaLogins {
  width: 702px;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px 0 23px;
  box-sizing: border-box;
  text-align: right;
}
.emailChild {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  background-color: #d9d9d9;
}
.email1 {
  width: 165.6px;
  border: 0;
  outline: 0;
  font-family: Fredoka;
  font-size: 35px;
  background-color: transparent;
  height: 42px;
  position: relative;
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.appleLogo,
.email {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.email {
  flex: 1;
  justify-content: flex-start;
  padding: 28px 45.7px 32px;
  position: relative;
}
.appleLogo {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 2px 20px 0;
}
.usernameChild {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  background-color: #d9d9d9;
}
.username1 {
  width: 210px;
  border: 0;
  outline: 0;
  font-family: Fredoka;
  font-size: 35px;
  background-color: transparent;
  height: 42px;
  position: relative;
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.appleLogo1,
.username {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.username {
  flex: 1;
  padding: 27px 43px 33px;
  position: relative;
}
.appleLogo1 {
  align-self: stretch;
  padding: 0 0 38px;
}
.passwordsMustHave {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.passwordsMustHaveMin8ChaWrapper {
  width: 677px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 17px;
  box-sizing: border-box;
  max-width: 100%;
}
.passwordChild {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  background-color: #d9d9d9;
}
.password1 {
  width: 210px;
  border: 0;
  outline: 0;
  font-family: Fredoka;
  font-size: 35px;
  background-color: transparent;
  height: 42px;
  position: relative;
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.appleLogo2,
.password {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.password {
  flex: 1;
  padding: 27px 47px 33px;
  position: relative;
}
.appleLogo2 {
  align-self: stretch;
  padding: 0 0 20px;
}
.confirmPasswordChild {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  background-color: #d9d9d9;
}
.confirmPassword1 {
  width: 334px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.confirmPassword,
.facebookLogo {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.confirmPassword {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 27px 43px 33px;
  box-sizing: border-box;
  position: relative;
  text-align: left;
  font-size: 35px;
  color: rgba(0, 0, 0, 0.6);
}
.facebookLogo {
  width: 702px;
  flex-direction: column;
  align-items: flex-end;
  gap: 11px;
  font-size: 13px;
}
.register1,
.roundedShapeIcon {
  position: absolute;
  margin: 0 !important;
}
.roundedShapeIcon {
  width: 227px;
  height: 227px;
  top: -107px;
  left: -70px;
  border-radius: 50%;
  object-fit: contain;
}
.register1 {
  width: 130px;
  bottom: 27px;
  left: 501px;
  font-size: 35px;
  text-decoration: underline;
  color: #000;
  display: inline-block;
  z-index: 1;
}
.createAnAccount,
.foreground {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.createAnAccount {
  align-self: stretch;
  align-items: center;
  padding: 14px 69px 119px 20px;
  position: relative;
  gap: 109px;
  font-size: 57px;
}
.foreground {
  position: absolute;
  top: 19px;
  left: 332px;
  width: 1255px;
  align-items: flex-start;
  padding: 19px 30px;
  gap: 49px;
  z-index: 4;
  text-align: center;
  font-size: 22px;
  color: #d9d9d9;
  font-family: Fredoka;
}
.register {
  width: 1920px;
  height: 1080px;
  max-width: 100%;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .createAnAccount1 {
    font-size: 46px;
  }
  .confirmPassword1,
  .email1,
  .password1,
  .register1,
  .username1 {
    font-size: 28px;
  }
}
@media screen and (max-width: 675px) {
  .register {
    height: auto;
    min-height: 1080;
  }
}
@media screen and (max-width: 450px) {
  .alreadyHaveAn {
    font-size: 18px;
  }
  .createAnAccount1 {
    font-size: 34px;
  }
  .confirmPassword1,
  .email1,
  .password1,
  .register1,
  .username1 {
    font-size: 21px;
  }
}
