.login,
.loginIcon {
  height: 1080px;
  position: relative;
}
.loginIcon {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
}
.login {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  letter-spacing: normal;
}
