.profileChild {
  align-self: stretch;
  height: 3300px;
  position: relative;
  background-color: #d9d9d9;
  display: none;
}
.profilePicIcon {
  width: 400px;
  height: 400px;
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.edwardNathanSamuel {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.id {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.edwardNathanSamuelParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
  max-width: 100%;
}
.profileWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 65px;
}
.profileFrame {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 65px;
  box-sizing: border-box;
  min-width: 383px;
  max-width: 100%;
}
.frameDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 65px;
  box-sizing: border-box;
  max-width: 100%;
}
.navigation {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 37px 37px 0px;
  box-sizing: border-box;
  row-gap: 20px;
  max-width: 100%;
}
.external {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
  max-width: 100%;
  z-index: 1;
}
.externalWrapper {
  margin-top: -201px;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 55px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.frameChild {
  height: 2039px;
  width: 1700px;
  position: relative;
  border-radius: 50px;
  background-color: #212a3e;
  display: none;
  max-width: 100%;
}
.rectangleParent {
  height: 2039px;
  border-radius: 50px;
  background-color: #212a3e;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 75px 45px;
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -481px;
}
.policyLink {
  height: 2241px;
  flex: 1;
  border-radius: 50px;
  background-color: rgba(33, 42, 62, 0);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 200px 0px 2px;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 2;
}
.policyLinkWrapper {
  width: 1700px;
  border-radius: 50px;
  background-color: #212a3e;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 200px;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: 52px;
  color: #fff;
  font-family: Fredoka;
}
.profileInner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.profile {
  width: 100%;
  position: relative;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 116px;
  letter-spacing: normal;
}

@media screen and (max-width: 1625px) {
  .policyLink {
    height: auto;
  }
}
@media screen and (max-width: 1275px) {
  .externalWrapper {
    padding-left: 27px;
    padding-right: 27px;
    box-sizing: border-box;
  }

  .rectangleParent {
    padding: 75px 22px 49px;
    box-sizing: border-box;
  }

  .policyLink {
    padding-top: 84px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }

  .policyLinkWrapper {
    padding-bottom: 84px;
    box-sizing: border-box;
  }

  .profile {
    gap: 58px 116px;
  }
}
@media screen and (max-width: 900px) {
  .edwardNathanSamuel {
    font-size: 42px;
  }

  .id {
    font-size: 42px;
  }

  .profileFrame {
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
    min-width: 100%;
  }

  .rectangleParent {
    padding-bottom: 32px;
    box-sizing: border-box;
  }

  .policyLink {
    padding-top: 55px;
    box-sizing: border-box;
  }

  .policyLinkWrapper {
    padding-bottom: 55px;
    box-sizing: border-box;
  }

  .profile {
    gap: 29px 116px;
  }
}
@media screen and (max-width: 450px) {
  .edwardNathanSamuel {
    font-size: 31px;
  }

  .id {
    font-size: 31px;
  }

  .profileWrapper {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .frameDiv {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .rectangleParent {
    padding-bottom: 21px;
    box-sizing: border-box;
  }
}
