.skillsIcon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 22px;
  transform: scale(1.053);
}
.wrapperSkills {
  position: absolute;
  top: 0;
  left: 0;
  width: 1825.1px;
  height: 855.1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills {
  width: 100%;
  position: relative;
  height: 855.1px;
}
