.whyTutorChild {
  align-self: stretch;
  height: 3300px;
  position: relative;
  background-color: #d9d9d9;
  display: none;
}
.whyTutor {
  width: 100%;
  position: relative;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2750px;
  letter-spacing: normal;
}

@media screen and (max-width: 1275px) {
  .whyTutor {
    gap: 1375px 2750px;
  }
}
@media screen and (max-width: 900px) {
  .whyTutor {
    gap: 687px 2750px;
  }
}
